/*Estrutura do site ******************/

body{
	font: 12px "Lucida Grande","Lucida Sans Unicode",Arial, sans-serif ;
}

/*****CAIXA DE BUSCA E BOTÃO ****/

.search-box{
	position: absolute;
	top: 48px;
	left: 66%;
	background: darkgray;
	height: 40px;
	padding: 5px;
	border-radius: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

/******** Barra de texto ********/
.seach-txt{
	border: none;
	background: none;
	outline: none;
	padding: 0;
	color: #FFF;
	font-size: 16px;
	line-height: 40px;
	width: 0;
	transition: 0.5s;

}

/***** Botão da box ****/

.search-btn {
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background: #4682B4;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.7s;
}

.search-box:hover > .seach-txt {
	width: 240px;
	padding: 0 6px;
}

.search-box:hover > .search-btn {
	background: #f0f5fb;
}

:: -webkit-input-placeholder {
	color: #1e3754;
}


/********* Nav ***********/
.nav-item {
    margin-right: 15px; /* Ajuste o valor conforme necessário */
}

/***********LOGO*************/
#logo{
	padding-top: 10px;
}


/******************* Espaço-li *************/

#espaco-li-4{
	left: 45%;
}

nav li{
	bottom: 4px;
}

/********* Dropdown ****/

/* Dropdown */
.dropdown {
    position: relative;
}

.dropdown-toggle {
    background-color: transparent;
    border: none;
    color: white;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

/* Cor e modelo do dropdown Pai*/
.dropdown-toggle:hover {
    background-color: #4682B4;
    color: white;
    text-decoration: none !important;
}

/* Remove as setinhas ao lado do menu dropdown */
.dropdown-toggle::after {
    display: none;
}

/* Box do dropdown e filhos */
.dropdown-menu {
    display: none; /* Oculta o menu inicialmente */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    min-width: 200px;
    padding: 5px 0;
    border-radius: 5px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s 0.5s;
}

.dropdown:hover > .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0s 0s;
    text-decoration: none !important;
}

/*Cor dos nomes e comportamento dos itens filhos*/
.dropdown-item {
    color: #5F9EA0;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #5F9EA0;
    color: white;
}

/* Submenu */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #333;
    min-width: 200px;
    padding: 5px 0;
    border-radius: 4px;
    z-index: 1001;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s 0.5s;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0s 0s;
}

.dropdown-submenu > .dropdown-item {
    color: #1bbc9b;
}

.dropdown-submenu > .dropdown-item:hover {
    background-color: #1bbc9b;
    color: white;
}

/* Não foi implementado melhorias nos submenus ainda */ /*Warning*/ /*-----------------------------*/