/*Estrutura do site ******************/

body{
	margin: 0;
	height: 100vh;
	width: 100vw;
	background: linear-gradient(#000000, #7fffd4, #38af6c);
	font: 12px "Lucida Grande","Lucida Sans Unicode",Arial, sans-serif ;
}

#container{
	width: 1090px;
	margin: 0 auto;
}

a:link, a:active, a:visited {
	color: ;
	text-decoration: none;
}

a:hover {
	color: ;
}



/***** LOGO DO SITE ****************/

#logo h1 {
	float: left;
}

#logo a {
	width: 250px;
	height: 145px;
	margin-top: -35px;
	text-indent: -9999px;
	display: block;
	background: url(../imagens/logo.png) no-repeat;
}

/*****CAIXA DE BUSCA E BOTÃO ****/

.search-box{
	position: absolute;
	top: 70px;
	left: 50%;
	background: #2f4f4f;
	height: 56px;
	padding: 10px;
	border-radius: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

/******** Barra de texto ********/
.seach-txt{
	border: none;
	background: none;
	outline: none;
	padding: 0;
	color: #f0f5fb;
	font-size: 16px;
	line-height: 40px;
	width: 0;
	transition: 0.5s;

}

/***** Botão da box ****/

.search-btn {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #8fbc8f;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.7s;
}

.search-box:hover > .seach-txt {
	width: 240px;
	padding: 0 6px;
}

.search-box:hover > .search-btn {
	background: #f0f5fb;
}

:: -webkit-input-placeholder {
	color: #1e3754;
}

/*****Fontes importadas ******/ 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap%27%29%3B')


/********* Dropdown ****/

